<ng-view ng-controller="MenuCtrl" class="height100">
    <div class="content-box height100">
        <!--<button ng-click="changeLanguage('ru')">Русский</button>-->
        <!--<button ng-click="changeLanguage('en')">English</button>-->
        <div class="wrapper">
            <h1>{{'MENU_TITLE' | translate}}</h1>
            <ul>
                <li toggle-activated ui-sref="alphabet" class="menu-button alphabet-btn">{{'ALPHABET' | translate}}</li>
                <li toggle-activated modal-setting class="menu-button setting-btn"></li>
            </ul>
        </div>
    </div>
</ng-view>
