html, body, .height100 {
    height: 100%;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #65FF73;
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    width: 100%;
}

.content-box{
    position: relative;
}

.content-box div.wrapper{
    position: absolute;
    top: 40%;
    left: 50%;
    height: 140px;
    width: 180px;
    padding: 30px 20px;
    margin: -100px 0 0 -110px;
}

.modal{
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    height: 140px;
    width: 180px;
    padding: 15px 20px 30px 20px;
    margin: -60px 0 0 -110px;
    background: blue;
    border-radius: 15px;
    -webkit-transition: .4s opacity ease-out;
}

.modal div{
    position: relative;
    height: 100%;
}

.modal div button{
    position: absolute;
    bottom: 10px;
    left: 63px;
}

.modal.show{
    opacity: 1;
}

.content-box div.wrapper h1{
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
}

.content-box div.wrapper ul li{
    padding: 10px 15px;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.menu-button{
    text-decoration: none;
    text-align: center;
    border: solid 1px #004F72;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 19px Arial, Helvetica, sans-serif;
    font-weight: bold;
    -webkit-box-shadow: 0 0 2px #bababa, inset 0 0 1px #ffffff;
    box-shadow: 0 0 2px #bababa, inset 0 0 1px #ffffff;
}

.menu-button.alphabet-btn{
    color: #f5f2ff;
    background-color: #3BA4C7;
    background-image: -webkit-linear-gradient(top, #e8eaff 0%, #1982A5 100%);
    background-image: linear-gradient(top, #e8eaff 0% ,#1982A5 100%);
}

.menu-button.setting-btn{
    color: #f9f2ff;
    background-color: #7c60b8;
    background-image: -webkit-linear-gradient(top, #dab2ff 0%, #3e2378 100%);
    background-image: linear-gradient(top, #dab2ff 0% ,#3e2378 100%);
}

.menu-button.activated{
      padding: 11px 32px;
      border: solid 1px #004F72;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      font: 18px Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: #E5FFFF;
      -webkit-box-shadow: 0 0 2px #bababa, inset 0 0 1px #ffffff;
      box-shadow: 0 0 2px #bababa, inset 2px 2px 2px #000;
  }

.menu-button.alphabet-btn.activated{
    background-color: #3BA4C7;
    background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
}

.menu-button.setting-btn.activated{
    background-color: #3BA4C7;
    background-image: -webkit-linear-gradient(top, #9652b5 0%, #3e2378 100%);
    background-image: linear-gradient(top, #9652b5 0% ,#3e2378 100%);
}

.wrapper-alphabet{
    margin: 0 auto;
    padding: 35px;
}

.wrapper-alphabet .letter{
    float: left;
    width: 65px;
    height: 78px;
    border: 1px solid;
    border-radius: 10px;
    margin: 3px;
}

.wrapper-alphabet .letter img{
    width: 100%;
}

.letter.tap-letter{
    -webkit-animation: tapLetter .5s linear;
    animation: tapLetter .5s linear;
}

.clear{
    clear: both;
}
/* Media query */
@media screen and (min-width:480px) {
    .wrapper-alphabet{
        width: 365px;
    }
}

@media screen and (min-width:568px) {
    .wrapper-alphabet{
        width: 440px;
    }
}

@media screen and (min-width:667px) {
    .wrapper-alphabet{
        width: 515px;
    }
}

@media screen and (min-width:1024px) {
    .wrapper-alphabet{
        width: auto;
    }
}

/* Animation */
@-webkit-keyframes tapLetter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(-50deg);
        transform: rotate(-50deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@keyframes tapLetter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(-50deg);
        transform: rotate(-50deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}